<!DOCTYPE html>
<html>
<head>
  <title><%= embed.title %></title>
  <meta content="<%= embed.title %>" property="og:title" />
  <meta content="<%= embed.description %>" property="og:description" />
  <meta content="https://embed.com/this-is-the-site-url" property="og:url" />
  <meta content="<%= embed.color %>" data-react-helmet="true" name="theme-color" />
</head>
<body>
</html>
